body {
    background: url(../img/bg.jpg);
    font-family: "PT Sans", Frutiger, Myriad, "Segoe UI", "Noto Sans Japanese", Meiryo, sans-serif;
}

.top-menu {
    background-color: #333333;
}

h1 {
    font-size: inherit;
    color: inherit;
    font-weight: inherit;
    padding: 0;
    margin: 0;
}

.pure-menu-heading.app-title {
    text-transform: none;
    color: #dddddd;
}

.content {
    width: 1200px;
    margin: 0px auto;
    background-image: url(../img/contentbg.svg);
    background-position: left top;
    background-repeat: none;
    background-color: white;
    
    position: relative;
}

.remark {
    position: absolute;
    right: 50px;
    bottom: 20px;
    width: 250px;
    
    color: #a0a0a0;
}

.remark h2 {
    font-size: 12px;
}

.remark ul {
    margin: 0;
    padding: 0 1em;
}

.remark li {
    font-size: 10px;
    line-height: 1.3;
}

svg {
    font-family: "PT Sans", Frutiger, Myriad, "Segoe UI", "Noto Sans Japanese", Meiryo, sans-serif;
}

svg rect {
    fill: lightblue;
}

.tone-name {
    font-size: 40px;
    text-anchor: middle;
    fill: #222;
}

.tone-title {
    font-size: 16px;
    text-anchor: middle;
    fill: #777;
}

.tone-name.vivid {
    font-size: 80px;
    text-anchor: middle;
}

.tone-title.vivid {
    font-size: 24px;
    text-anchor: middle;
}

svg .chip path {
    stroke: white;
    stroke-width: 4px;
}


.color-name {
    font-size: 12px;
    font-weight: bold;
}
.color-value {
    font-size: 10px;
}

.color-name.vivid {
    font-size: 14px;
}
.color-name.non-vivid {
    font-size: 12px;
}

.bgbox {
    position: absolute;
    left: 0; top: 0;
    width: 1200px;
    height: 800px;
    background-color: white;
    z-index: -1;
}